/* Color Variables  */
:root {
  --light-black: #222;
  --off-white: #f3efef;
  --orange: #ff472b;
  --slight-black: #141414;
  --purple: #d6a3e4;
  --text-grey: #5a5a5a;
  --white: white;
  --dark-grey: #999;
  --green: #c3d9c3;
  --grey: #c8c6c6;
  --light-purple: #e3b2f1;
  --black: black;
  --accessible-components-dark-grey: #9b9b9b;
}

/* Scrollbar  */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 6px;
  background-image: linear-gradient(220deg, var(--purple) 0%, var(--purple) 79%);
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .5);
}

/* Adding Font Family */
@font-face {
  font-family: 'Telegraf';
  src: url('./fonts/Telegraf-UltraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./fonts/Telegraf-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer SQ XH';
  src: url('./fonts/HafferSQXH-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./fonts/Telegraf-Light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Telegraf';
}

a {
  all: unset;
}

p {
  font-family: 'Haffer SQ XH';
  line-height: 1.47rem;
}

/* Font Scalibility  */
html {
  font-size: 0.8333333333vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width:991px) {
  html {
    font-size: 1.3333334vw;
  }
}

@media (max-width:600px) {
  html {
    font-size: 4.102564103vw;
  }
}

body {
  background-color: var(--light-black);
  color: var(--off-white);
}

.padding-global {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

/* Topbar  */
.topbar .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot-heading {
  font-size: 1.125rem;
  position: relative;
  margin-left: 1rem;
}

.topbar .dot-heading:before {
  background: var(--orange);
}

.dot-heading::before {
  content: '';
  background: var(--purple);
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 49%;
  left: -1rem;
  transform: translateY(-50%);
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
}

@keyframes blink {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.marquee {
  display: flex;
  gap: 2rem;
  position: relative;
}

.topbar {
  padding: 1.5rem 0;
}

.single-marquee {
  display: flex;
  gap: 0.5rem;
}

.rfm-initial-child-container,
.rfm-marquee {
  display: flex;
  gap: 2rem;
}

.single-marquee p.desc {
  opacity: 0.6;
  font-size: 1.125rem;
}

.single-marquee p.title {
  color: var(--white);
  font-size: 1.125rem;
}

.topbar .heading {
  width: 11rem;
}

.marquee::before {
  content: '';
  z-index: 2;
  background-image: linear-gradient(to right, var(--light-black), #0000);
  width: 7rem;
  height: 100%;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.marquee::after {
  content: '';
  z-index: 2;
  background-image: linear-gradient(270deg, var(--light-black), #0000);
  width: 7rem;
  height: 100%;
  position: absolute;
  inset: 0% 0 0% auto;
}

/* Header and Hero Sec  */

.header-hero-wrapper {
  background: var(--slight-black);
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border-radius: 2.1rem 2.1rem 0 2.1rem
}

header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-inner .logo {
  width: 2.875rem;
  height: 2.875rem;
}

header .header-inner .logo img {
  width: 100%;
  height: 100%;
}

header .header-inner ul {
  display: flex;
  align-items: center;
}

header .header-inner ul li {
  list-style: none;
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1rem 1.2rem 2rem;
  cursor: pointer;
}

header .header-inner ul li a {
  font-size: 1.125rem;
  color: var(--grey);
  cursor: pointer;
  z-index: 3;
  position: relative;
  font-family: 'Haffer SQ XH';
}

header .header-inner ul li::before {
  z-index: 1;
  opacity: 0;
  background-image: linear-gradient(315deg, #d6a3e429, #d6a3e400);
  border-radius: .5rem;
  position: absolute;
  content: '';
  width: 110%;
  height: 100%;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-out;
}

header .header-inner ul li:hover::before {
  opacity: 1;
  transition: all 0.4s ease-out;
}

header .header-inner ul li::after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--purple);
  border-radius: 100%;
  left: 1rem;
  transition: all 0.4s ease-out;
  opacity: 0;
}

header .header-inner ul li:hover::after {
  transition: all 0.4s ease-out;
  opacity: 1;
}

/* Hero Section  */

.hero .dot-heading::before {
  background: var(--purple);
}

.section-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

.hero .top-heading {
  margin-bottom: 1.275rem;
}

.hero {
  padding: 3.125rem 0;
}

h2.hero-heading {
  font-size: 7.875rem;
  font-weight: 300;
}

.hero .bottom-items {
  width: 84rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.575rem;
  align-items: flex-end;
}

.hero p.description {
  font-size: 1.125rem;
  width: 26.625rem;
  opacity: 0.8;
}

/* Button Component  */

a.button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button .arrow {
  height: 3.125rem;
  background: var(--white);
  display: flex;
  align-items: center;
  width: 3.125rem;
  border-radius: 1rem;
  justify-content: center;
  transition: all 0.4s ease-out;
}

.button .arrow img {
  width: 0.938rem;
}

.button .text {
  padding: 1rem;
  background: var(--white);
  border-radius: 1rem;
  color: var(--slight-black);
  font-family: 'Haffer SQ XH';
  font-size: 1.125rem;
}

a.button:hover .arrow {
  transform: rotate(-45deg);
  transition: all 0.4s ease-out;
}

.bottom-image img {
  width: 100%;
  margin-top: 5rem;
  border-radius: 2rem;
}

/* Skills Logo Row  */

.skills-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.skills-logo .skill {
  width: 10rem;
}

.skills-logo .skill img {
  width: 100%;
}

/* Services  */

.top-div .left {
  width: 60%;
  position: relative;
  border-top-right-radius: 2rem;
}

.top-div .right {
  width: 40%;
  background: var(--slight-black);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.top-div {
  display: flex;
  height: 9rem;
}

.top-div .left .left-bg {
  width: 100%;
  height: 100%;
  background: var(--light-black);
  position: absolute;
  z-index: 1;
  border-top-right-radius: 2rem;
}

.top-div .left .small {
  width: 3rem;
  height: 3rem;
  background: var(--slight-black);
  position: absolute;
  right: 0;
  z-index: 0;
  top: 0rem;
}

.services {
  position: relative;
  padding-bottom: 6.25rem;
}

.absolute-heading {
  position: absolute;
  top: -2.688rem;
  z-index: 4;
  background: var(--light-black);
  padding: 0.75rem 1rem;
  left: 5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.services .inner .main-heading {
  font-weight: 300;
  font-size: 3.15rem;
  width: 48.25rem;
  line-height: 3.463rem;
  margin-bottom: 1.574rem;
}

.services .inner {
  margin-top: -3rem;
  position: relative;
  z-index: 3;
}

.card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-row .top img {
  width: 0rem;
  transition: all 0.4s ease-out;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 33.2rem;
  padding: 2rem;
  border-right: 0.063rem solid var(--text-grey);
  border-radius: 2rem;
  transition: all 0.4s ease-out;
  position: relative;
}

.card:before {
  background-image: linear-gradient(135deg, #d6a3e400, #d6a3e412);
  transition: all 0.4s ease-out;
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 2rem;
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
  transition: all 0.4s ease-out;
}

.card:hover .bottom .arrow-icon img {
  transform: rotate(180deg);
  transition: all 0.4s ease-out;
}

.card .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .top h2 {
  font-size: 2.625rem;
  font-weight: 300;
}

.card .bottom p {
  width: 22.813rem;
  font-size: 1.125rem;
  line-height: 1.469rem;
  color: var(--grey);
}

.card .bottom .arrow-icon {
  width: 3.375rem;
  background: linear-gradient(315deg, rgba(214, 163, 228, 0.16) 0%, rgba(214, 163, 228, 0) 100%);
  border-radius: 100%;
  height: 3.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .bottom .arrow-icon img {
  width: 1.563rem;
  transition: all 0.4s ease-out;
}

.card .top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card:hover .top img {
  width: 4rem;
  transition: all 0.4s ease-out;
  margin-right: 1rem;
}

/* Vision Sec  */

.vision-sec .inner {
  padding: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vision-sec {
  background: var(--white);
  border-radius: 2rem;
  margin-bottom: 6.25rem;
}

.vision-sec .inner .left {
  width: 37.75rem;
}

.vision-sec .inner .right {
  width: 42rem;
  position: relative;
  height: 29.375rem;
}

.vision-sec .inner .right .image {
  width: 42rem;
  position: absolute;
  right: -10.25rem;
  bottom: -6.25rem;
  height: 100%;
}

.vision-sec .inner .right .image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.vision-sec .inner .left .heading {
  color: var(--slight-black);
  font-weight: 300;
  font-size: 4.2rem;
  line-height: 4.2rem;
  margin: 1rem 0;
}

.vision-sec .inner .left .dot-heading {
  color: var(--slight-black);
}

.vision-sec .inner .left .description {
  color: var(--slight-black);
  font-size: 1.125rem;
  margin-bottom: 1rem;
}