/* Color Variables  */
:root {
  --light-black: #222;
  --off-white: #f3efef;
  --orange: #ff472b;
  --slight-black: #141414;
  --purple: #d6a3e4;
  --text-grey: #5a5a5a;
  --white: white;
  --dark-grey: #999;
  --green: #c3d9c3;
  --grey: #c8c6c6;
  --light-purple: #e3b2f1;
  --black: black;
  --accessible-components-dark-grey: #9b9b9b;
}

/* Adding Font Family */
@font-face {
  font-family: 'Telegraf';
  src: url('./fonts/Telegraf-UltraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./fonts/Telegraf-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Haffer SQ XH';
  src: url('./fonts/HafferSQXH-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./fonts/Telegraf-Light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Telegraf';
}

a {
  all: unset;
}

/* Font Scalibility  */
html {
  font-size: 0.8333333333vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width:991px) {
  html {
    font-size: 1.3333334vw;
  }
}

@media (max-width:600px) {
  html {
    font-size: 4.102564103vw;
  }
}

body {
  background-color: var(--light-black);
  color: var(--off-white);
}

.padding-global {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/* Header and Hero Sec  */

.header-hero-wrapper {
  background: var(--slight-black);
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border-radius: 2.1rem 2.1rem 0 2.1rem
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-inner img {
  width: 2.875rem;
  height: 2.875rem;
}

header .header-inner ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}

header .header-inner ul li{
  list-style: none;
}

header .header-inner ul li a{
  font-size:1.125rem;
  color: var(--grey);
}